STREAMLABS_CLIENT_ID=
STREAMLABS_CLIENT_SECRET=
STREAMLABS_REDIRECT_URI=https://yourdomain.com/auth/callback

TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=

DB_HOST=public-postgres
DB_PORT=5432
DB_NAME=streamtracker
DB_USER=streamtracker
DB_PASSWORD=

PORT=3000
SESSION_SECRET=
NODE_ENV=production
